.navbar {
    font-family: pixel;
 }

.navbar-brand {
    margin-left: 25%;
}

#navbarSupportedContent {
    margin-left: 10%;
}

#nav-text{
    color: rgb(52, 90, 146);
    display: inline-block;
    vertical-align: top;
    margin-bottom: -40%;
}

#nav-img-calendar, #nav-img-location, #nav-img-molecule{
    margin-top: 5%;
}

#nav-img-article {
    margin-top: 10%;
}