.navbar {
    font-family: pixel;
 }

.navbar-brand {
    margin-left: 25%;
}

#navbarSupportedContent {
    margin-left: 10%;
}

#nav-text{
    color: rgb(52, 90, 146);
    display: inline-block;
    vertical-align: top;
    margin-bottom: -45%;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:hover {
    background-color:whitesmoke;
}

#nav-img-calendar, #nav-img-location{
    margin-top: 5%;
}

#nav-img-molecule {
    margin-top: 2%;
}

#nav-img-article {
    margin-top: 10%;
}

.zoom {
    transition: 0.5s ease;
    -moz-transition: 0.5s ease; 
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease; 
}

.zoom:hover {
    transform : scale(2);
    -moz-transform : scale(2); 
    -webkit-transform : scale(2); 
    -o-transform : scale(2); 
    -ms-transform : scale(2); 
}

