<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
        <img width="120" alt="vacunas" src="assets/images/logo_vacunas.png"/>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <img id="nav-img-calendar" width="25" alt="calendar" src="assets/images/icon_calendar.png"/>
          <a id="nav-text" class="nav-link pixel-font" href="#">Etapas de vida <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item my-2 my-lg-0">
          <img id="nav-img-location" width="20" alt="location" src="assets/images/icon_location.png"/>
          <a id="nav-text" class="nav-link" href="#">Dónde Vacunar</a>
        </li>
        <li class="nav-item my-2 my-lg-0">
          <img id="nav-img-molecule" width="25" alt="molecula" src="assets/images/icon_molecule.png"/>
          <a id="nav-text" class="nav-link" href="#">Conoce de Enfermedades</a>
        </li>
        <li class="nav-item my-2 my-sm-0">
            <img id="nav-img-article" width="25" alt="molecula" src="assets/images/icon_article.png"/>
            <a id="nav-text" class="nav-link" href="#">Artículos</a>
        </li>
      </ul>
    </div>
  </nav>
