<app-navbar></app-navbar>
<app-slider></app-slider>
<div class="container">
    <p class="home-text text-center pixel-font">
        <b>Aquí encontrarás información relevante para aclarar <br> dudas sobre cuándo y dónde vacunarse.</b>
    </p>

    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card-deck">
                <div class="card text-center card-left" style="width: 10rem; border-radius: 10px;">
                    <div class="card-body">
                        <div>
                            <img width="20" src="assets/images/icon_calendar-white.png"/>
                            <h5 class="card-title-left"> Cuándo Vacunar</h5>
                        </div>
                        <p class="card-text">Descubre las vacunas <br>correspondientes a cada <br>etapa de la vida.</p>
                    </div>
                    <div class="home-card-footer">
                        <a href="#" class="btn card-btn">Conoce más</a>
                    </div>
                  </div>
                <div class="card text-center card-right" style="width: 10rem; border-radius: 10px;">
                    <div class="card-body">
                        <div>
                            <img width="20" src="assets/images/icon_location-white.png"/>
                            <h5 class="card-title-right"> Dónde Vacunar</h5>
                        </div>
                        <p class="card-text">Ubica el centro de salud más <br>cercaro a ti y a tu familia.</p>
                    </div>
                    <div class="home-card-footer">
                        <a href="#" class="btn card-btn">Conoce más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container home-section">
        <div class="row d-flex justify-content-center">
            <section>
                <div>
                    <img id="home-img-vacuna" width="30" src="assets/images/icon_vacuna-green.png"/>
                    <img id="home-img-molecule-purple" width="30" src="assets/images/icon_molecule-purple.png"/>
                    <img id="home-img-baby" width="150" src="assets/images/baby_red.png"/>
                    <p class="section-text text-center">
                        <b>¿Sabés para qué sirve vacunarse?</b>
                    </p>
                    <img id="home-img-molecule-small" width="30" src="assets/images/molecule_gray-small.png"/>
                </div>
                <div class="section-column section-column-left">
                    La vacunación es la estrategia más útil y segura para <br>
                    <mark> <b> prevenir muertes por enfermedades infecciosas en <br>todo el mundo,</b></mark>y aunque con frecuencia se piensa <br>
                    que la etapa de vacunación sucede solo en la niñez, <br>no es así, <mark> <b>existe una vacuna para cada etapa <br> de la vida.</b></mark>
                </div>
                <div class="section-column section-column-right">
                    Por esta razón, <b>queremos informar, a profesionales <br>de la salud y a la población, acerca de las <br>
                    vacunas, enfermedades,</b> centros de salud y <br>calendario de vacunas para tomar control de ellas,<br>
                    prevenir y protegernos entre todos.
                    <img id="home-img-molecule-green" width="80" src="assets/images/molecule_green.png"/>
                </div>
            </section>
        </div>
        <div>        
            <img id="home-img-molecule" width="150" src="assets/images/molecule_gray.png"/>
        </div>
    </div>
    
    <div class="home-cards2">
        <p class="text-center" style="font-family: pixel;">
            <b>Te presentamos artículos sobre vacunación <br>y sus beneficios para la salud.</b>
        </p>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="card-group">
                    <div class="card col-md-4" style="background-image: url(./../assets/images/enfermedades_thumb.jpg); background-size: cover; border-radius: 10px; margin-right: 2%;">
                        <div class="card-body">
                            <img width="20" src="assets/images/icon_molecule-green.png"/>
                            <h5 class="card-title" style="color: yellow; font-family: pixel;">Enfermedades</h5>
                            <p class="card-text"><b>Conoce cada una <br>de ellas, sus riesgos, <br>síntomas y cómo <br>prevenirlas.</b> </p>
                        </div>
                        <div class="home-card-footer">
                            <a href="#" class="btn card-btn">Conoce más</a>
                        </div>
                    </div>
                    <div class="card col-md-8" style=" background-image: url(./../assets/images/articulos_thumb.jpg); background-size: cover; border-radius: 10px;">
                        <div class="card-body">
                            <img width="20" src="assets/images/icon_article-orange.png"/>
                            <h5 class="card-title" style="color: rgb(241, 197, 113); font-family: pixel;">Artículos</h5>
                            <p class="card-text"><b> Descubre las noticias e <br>información sobre la importancia <br>de las vacunas.</b></p>
                        </div>
                        <div class="home-card-footer">
                            <a href="#" class="btn card-btn">Conoce más</a>
                        </div>
                    </div>
                </div>
                <img id="home-img-girl" width="150" src="assets/images/girl_purple.png"/>
            </div>
        </div>
    </div>
</div>

<div style="background-color: #f8f9fa;">
    <app-footer></app-footer>
</div>

