.home-text {
    margin-top: 5%;
    font-family: pixel;
    font-size: 150%;
    color: rgb(153, 53, 179);
}

.card {
    border-color: transparent;
    border-width: 0;
    border-style: dashed;
}

.card-left {
    box-shadow: 0px 12px 12px -2px gray;
    background: rgb(120,52,214);
    background: linear-gradient(0deg, rgba(120,52,214,1) 0%, rgba(178,28,227,1) 100%, rgba(139,63,216,1) 100%, rgba(54,139,192,1) 100%, rgba(25,164,184,1) 100%);
}

.card-right {
    box-shadow: 0px 12px 12px -2px gray;
    background: rgb(52,85,214);
    background: linear-gradient(0deg, rgba(52,85,214,1) 0%, rgba(28,196,227,1) 84%, rgba(25,164,184,1) 100%);
}

mark { 
    background-color: rgb(228, 241, 250);
    color: rgb(68, 139, 185);
}

.card-title-left,.card-title-right {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: pixel;
    margin-left: 2%;
    margin-top: 1%;
}

.card-text {
    font-family: pixel;
    color: white;
}

.card-btn {
    background-color: orange;
    color: white;
    border-radius: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.section-text {
    color: rgb(68, 139, 185);
    font-size: 170%;
    font-family: pixel;
}

.home-section {
    width: 100%;
    display: block;
    margin-top: 5%;
    background-color:#f8f9fa;
    padding-bottom: 5%;
    margin-bottom: -15%;
}

.section-column {
    padding: 10px; 
    width: 51%; 
    text-align: justify;
    font-family: pixel;
    color: rgb(68, 139, 185);
}

.section-column-left {
    float: left; 
}

.section-column-right {
    float: right; 
    margin-right: -3%;
}

.home-cards2 {
    margin-top: 20%;
    margin-right: 12%;
    color: rgb(68, 139, 185);
    font-size: 150%;
}

.home-card-footer {
    padding-bottom: 10%;
    text-align: center;
    font-family: pixel;
}

.home-card-footer-left {
    padding-bottom: 5%;
    text-align: left;
    font-family: pixel;
}

.card-deck {
    margin-top: 3%;
    width: 60%;
}

.card-group {
    margin-top: 3%;
    width: 100%;
    font-size: 80%;
}

.card-group-left {
    background-image: url(../../assets/images/enfermedades_thumb.jpg); 
    background-size: 130%;
    background-position: left;
    border-radius: 10px; 
    margin-right: 4%;
}

.card-group-right {
    background-image: url(../../assets/images/articulos_thumb.jpg); 
    background-size: cover; 
    border-radius: 10px;
}

#home-img-baby {
    float: right;
    margin-top: -7%;
    margin-right: -15%;
}

#home-img-molecule {
    float: left;
    margin-bottom: 50%;
}

#home-img-molecule-green {
    float: right;
    margin-top: -15%;
    margin-right: -30%;
}

#home-img-molecule-small {
    margin-left: -8%;
}

#home-img-vacuna {
    margin-top: -4%;
    margin-left: 10%;
    transform: rotate(90deg);
}

#home-img-molecule-purple {
    margin-top: -4%;
    margin-left: 75%;
    transform: rotate(90deg);
}

#home-img-girl {
    margin-right: 110%;
    margin-top: -10%;
    margin-bottom: -6%;
}

.btn-three {
	color: #FFF;
	transition: all 0.5s;
	position: relative;
}

.btn-three::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: transparent;
	transition: all 0.3s;
}

.btn-three:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}

.btn-three::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
    border-radius: 40px;
	transform: scale(1.2,1.2);
}

.btn-three:hover::after {
	opacity: 1;
	transform: scale(1,1);
}


.girl {
    animation: float 3s ease-out infinite;
}
  
@keyframes float {
      50% {
       transform: translate(0, 20px);
    }
}

.shadowFrame {
    width: 130px;
    margin-top: 15px;
}

.shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;
    ellipse {
      transform-origin: center center;
    }
}
  
@keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
}

.imgr{
    -webkit-animation: 15s rotate linear infinite;
    animation: 15s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#home-img-molecule {
     -webkit-animation-direction: reverse;
     animation-direction: reverse;
}